body {
     font-family: Oswald;
     color: brown;
     margin: 0 0 100px 0;
}

.footer {
    position: fixed;
    bottom: 0px;
    margin: 0px;
    padding: 10px;
    z-index: 2;
    background: white;
    width: 100%;
}

.panel {
    padding: 10px;
    overflow: hidden;
}

.dark {
    background: brown;
    color: white;
}

#content {
    max-width: 500px;
    margin: 0px auto;
}

.text-field {
    width: 100%;
    font-family: Oswald;
    height: 40px;
    font-size: 15px;
    border-top:none;
    border-left: none;
    border-right: none;
    text-align: center;
}

button {
    background: brown;
    height: 50px;
    width: 200px;
    font-family: Oswald;
    border: none;
    border-radius: 5px;
    margin: 10px auto 0px auto;
    color: white;
    display: block;
}

button:hover {
    background: white;
    border:solid;
    border-color:brown;
    color: brown;
}

img {
    display: block;
    margin: 0px auto;
}

span.label {
    font-size: 20px;
    display: inline;
}

/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#transform-select {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: brown;
   font-size: inherit;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 250px;
   position: relative;
   bottom: 2px;
   font-family: inherit;
}
