body {
     font-family: Oswald;
     color: brown;
     margin: 0 0 100px 0;
}

.footer {
    position: fixed;
    bottom: 0px;
    margin: 0px;
    padding: 10px;
    z-index: 2;
    background: white;
    width: 100%;
}

.panel {
    padding: 10px;
    overflow: hidden;
}

.dark {
    background: brown;
    color: white;
}

#content {
    max-width: 500px;
    margin: 0px auto;
}

.text-field {
    width: 100%;
    font-family: Oswald;
}

button {
    background: brown;
    height: 50px;
    width: 200px;
    font-family: Oswald;
    border: none;
    border-radius: 5px;
    margin: 5px auto 0px auto;
    color: white;
}
