<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Recipe MashUp</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <!-- CDN stuff -->
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

  <!-- Our stylesheets -->
  <link href="{{ url_for('static', filename='stylesheets/styles.css') }}" rel="stylesheet" type="text/css"></link>


  <!-- Our scripts -->

</head>

<body>
  <div id="content">
    hayyy
    <input class="text-field" type="text" placeholder="Enter the url of the recipe you want to mash up"></input>
  </div>
</body>
</html>
